p,
ul,
ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: normal;
  margin: 5px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1, 3em;
  border-bottom: 1px solid rgb(180, 180, 180);
  margin: 5px;
  padding: 3px;
  font-weight: normal;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 2px;
}
.infoTable {
  background-color: white;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border-collapse: collapse;
  border: 2px solid rgb(180, 180, 180);
  margin-left: 1%;
  text-align: justify;
  position: relative;
  float: right;
}
tr.tableHeadFormat1{
  background-color: #b3b0ff; /* Cor de fundo do cabeçalho */
  color: black; /* Cor do texto no cabeçalho */
  margin: 30%;
  text-align: center;
}
tr.tableHeadFormat2{
  background-color: #b3b0ff; /* Cor de fundo do cabeçalho */
  color: black; /* Cor do texto no cabeçalho */
  padding: 20px;
  bottom: 2px;
  right: 2px;
  text-align: center;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}
figcaption {
  display: block;
  unicode-bidi: isolate;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
}

.table2 {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border-collapse: collapse;
  border: 1px solid rgb(180, 180, 180);
}
nav {
  top: 0;
  left: 0;
  width: 20%;
  position: sticky;
  float: left;
}

.semTopico{
  list-style-type: none;
  text-align: left;
  padding: 10%;
  text-decoration: none;
}

div.text {
  margin-left: 20%;
  margin-right: 20%;
}

.contato {
  background-color: dimgrey;
  border-radius: 100%;
  color: white;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
}
